################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
TestResults/
packages
*.webtestresult
**/*.csproj.user
*.pubxml*
package-lock.json
**/obj
**/bin
appsettings.json
